<!DOCTYPE html>
<html lang="fr">
    <title>Créer un potin</title>
  </head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <body>
      <h1>Crée un potin !</h1>
      <p>Balance ton potin via le formulaire ci-dessous</p>
    
    <form action='/gossips/new/' method='post'>
      <label for="author">Saisi ici ton nom :</label>  <input type='text' name='author' placeholder ="author"/><br/>
      <label for="content">Balance ton potin :</label>  <input type='text' name='content' placeholder ="content"/><br/>
        <input type='submit'/>
    </form>
  </body>
</html>