<html>
  <head>
    <title>Créer un potin</title>
  </head>
  
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    
    <form action='/gossips/new/' method='post'>
      <label for="author">Saisi ici ton nom :</label>  <input type='text' name='author' placeholder ="author"/><br/>
      <label for="content">Balance ton potin :</label>  <input type='text' name='content' placeholder ="content"/><br/>
        <input type='submit'/>
    </form>
  
  </body>
</html>